.card-component {
    overflow-x: clip;
    margin: 5rem 0rem;
    padding: 2rem 0rem;
    position: relative;
    @media(max-width: 992px){
        margin: 3rem 0rem;
    }
    &.more-padding {
        padding: 6rem 0;
    }
    .intro-content {
        z-index: 1;
        position: relative;
        margin-bottom: 2rem;

        .title {
            position: relative;
            overflow: hidden;
            margin: 5px 0px;
            &:after {
                content: "";
                width: 100vw;
                background: red;
                height: 2px;
                position: absolute;
                bottom: 14px;  
                margin-left: .5rem;                  
            }
        }
    }
    .card-row {
        z-index: 1;
        position: relative;
        justify-content: center;

        .card-col {
            margin-bottom: 1.5rem;
        }

    }
    .ornament {
        position: absolute;
        z-index: 0;
        top: 0;
        width: 10vw;

        &.left {
            top: 5rem;
            left: 5%;
            transform: rotate(20deg);
        }
        &.right {
            top: -20%;
            right: 5%;
            transform: rotate(-20deg);
        }

        @media(max-width: 1185px){
            display: none;
        }
    }

    &.stats {
        &.style-1 {

        }
        &.style-2 {
            .image-side {
                img {
                    height: 100%;
                    object-fit: cover;
                    border-top-right-radius: 50px;
                }
            }
            .stat-card-side {
                @media(min-width: 992px){
                    width: 60%;
                    margin-left: -10%;
                    padding: 50px 0px;
                }
            }
        }
        &.style-3 {
            .image-side {
                img {
                    object-fit: cover;
                    border-top-right-radius: 50px;
                }
            }
        }
    }
}

.vendor-listing-section {
    margin: 5rem 0rem;
    @media(max-width: 992px){
        margin: 2rem 0rem;
    }
    .content {
        max-width: 992px;
        margin: 0rem auto 4rem;
    }

    .category-intro {
        display: flex;
        justify-content: center;

        margin-bottom: 3rem;
        @media(max-width: 992px){
            flex-direction: column
        }
        h2 {
            margin-bottom: 0px;
            text-align: center;
            flex: none;
        }
        svg {
            width: 40%;
            @media(max-width: 992px){
                width: 100%;
            }
        }
    }
}