h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0px;
	font-family: $font__heading;
	color: $dark-blue;
	span {
		color: $blue;
	}
}

h1 {
	font-size: 50px;
	font-weight: 600;
	font-style: normal;
    margin-bottom: 1.5rem;
    line-height: 1;

	@media(max-width: 992px){
		font-size: 45px;
	}
}

h2 {
	font-size: 42px;
	font-weight: 500;
	font-style: normal;
    margin-bottom: 1rem;
    line-height: 1;
	@media(max-width: 992px){
		font-size: 35px;
	}
}

h3 {
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
    margin-bottom: .5rem;
    line-height: 1;
	@media(max-width: 992px){
		font-size: 28px;
	}
}

h4 {
	font-size: 25px;
	font-weight: 400;
	font-style: normal;
    margin-bottom: .5rem;
    line-height: 1;
	color: $blue;
	@media(max-width: 992px){
		font-size: 25px;
	}
}