#footer.site-footer {
    background: $primary;
    z-index: 1;
    position: relative;
    color: white;

    .title {
        margin-bottom: .5rem;
    } 

    .top-section {
        padding: 5rem 0rem 3rem 0rem;
        .column-2,
        .column-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .column-1,
        .column-2,
        .column-3,
        .column-4 {
            @media(max-width: 992px){
                margin-top: 1rem;
            }     
        }
        .footer_spot_1,
        .footer_spot_2,
        .footer_spot_3,
        .footer_spot_4 {
            width: 60%;
            min-width: 200px;
            margin-bottom: 2rem;

            @media(max-width:992px){
                min-width: 100%;
            }
        }
        .column-1 {
            text-align: right;
            @media(max-width:992px){
                text-align: left;
            }
            .site-branding {
                img {
                    height: auto;
                    width: auto;
                    max-width: 200px;
                    max-height: 200px;

                    @media(max-width: 992px){
                        width: 100%;
                    }
                }
            }
            .location_treaty {
                p {
                    max-width: 200px;
                    float: right;

                    @media(max-width:992px){
                        max-width: 100%;
                        float: none;
                    }
                }
            }
        }
        .column-4 {
            .sign_up_section {
                p {
                    margin-top: 0px;
                }
            }
        }

    }

    .bottom-section {
        padding: 2rem 0rem;
        .footer_menu_section {
            display: flex;
            justify-content: center;
            line-height: 1;

            @media(max-width: 992px){
                flex-direction: column;
                align-items: center
            }
            .lower-footer-spot {
                border-right: 1px solid white;
                margin-right: 1rem;
                padding-right: 1rem;
                &:last-child {
                    border-right: none;
                    margin-right: 0rem;
                    padding-right: 0rem; 
                }
            }
            .footer_spot_1 {
                
            }
            .footer_spot_2 {
                #footer-menu {
                    display: flex;
                    list-style-type: none;
                    gap: 20px;
                    padding: 0;
                    margin: 0;
                    li {
                        a {
                            color: white;
                            display: block;
                        }
                    }
                    @media(max-width: 992px){
                        gap: 20px;

                        li {
                            a {
                                padding: 10px;
                            }
                        }
                    }
                }

                @media(max-width: 992px){
                    border-left: none;
                    border-right: none;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    margin: 1rem 0rem;
                    padding: 1rem 0rem;
                }
            }
            .footer_spot_3 {
                
            }
        }
    }
}