#masthead.site-header {
    position: fixed;
    z-index: 15;
    width: 100%;

    .site-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 1rem 5%; 
        background: $primary;
        position: relative;
        transition: all .3s; 

        &.scroll-bg {
            padding: 10px 5%;
            .site-branding {
                a.custom-logo-link {
                    max-width: 120px;
                }
            }
        }

        //Logo
        .site-branding {
            a.custom-logo-link {
                height: auto;
                width: auto;
                max-width: 150px;
                max-height: 150px;
                transition: all .3s;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            @media(max-width: 992px){
                width: 50%; 
            }
            @media(max-width: 500px){
                width: 100%;
            }
        }

        .main-navigation {
            @media(max-width: 992px){
                order: 2;
                width: 25%;
                display: flex;
                justify-content: flex-end;
            }
            @media(max-width: 500px){
                width: 50%;
            }
        }

        .social_media {
            line-height: 0;
            @media(max-width: 992px){
                order: 1;
                width: 25%;
            }
            @media(max-width: 500px){
                width: 50%;
            }
            a {
                color: white;
                text-decoration: none;
                display: inline-block;
                line-height: 0;
                margin-left: 10px;
                @media(max-width: 500px){
                    margin-left: 0px;
                    margin-right: 5px;
                }
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

#offcanvasRight { 
    background: $primary-light;
    color: white;
    .btn-close {
        padding: 5px;
        border-radius: 100%;
        height: 34px;
        &:hover {
            background: $tertiary;
            border-color: $tertiary;
            cursor: pointer;
        }
        svg {
            color: white;
            width: 20px;
            height: 20px;
        }
    }
}
.menu-toggle.offcanvas-menu {
    background: none;
    border: none;
    &:hover {
        cursor: pointer;
        .bar {
            background: red;
        }
    }
}

ul.side-menu {
    list-style-type: none; 
    margin: 0px;
    li {
        font-size: 12px;
        margin-top: 5px;
        &.title {
            font-size: 16px;
            margin-top: 1.5rem;
            text-transform: uppercase;
        }
        &:first-child{
            margin: 0px;
        }
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $tertiary;
            }
        }
        ul.sub-menu {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            li {
            }
        }
    }
}

// .cursor-follower {
//     position: fixed;
//     top: -1.3rem;
//     left: -1.3rem;
//     // top: .4rem;
//     // left: -1.3rem;
//     border-radius: 100%;
//     opacity: 0;
//     z-index: 10000;
//     user-select: none;
//     pointer-events: none;

//     width: 40px;
//     height: 40px;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     line-height: 1;
//     color: white;
//     text-transform: uppercase;
//     background: $secondary;
//     transition: mix-blend-mode 1s ease-in-out;
//   }