$primary: #007473;
$primary-dark: #0b5756;
$secondary: #eba900;
$secondary-dark: #f32735;
$tertiary: #a1151e;
$tertiary-dark: #231f20;
$black: #231f20;
$white: #fff;

$color__background-body: #f2f2e8;
$color__background-screen: #f2f2e8;
$color__background-hr: #ccc;
$color__background-button: $secondary-dark;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $secondary;
$color__link-visited: $secondary-dark;
$color__link-hover: $primary-dark;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
