$primary: #07133A;
$primary-dark: #030c2a;
$primary-light: #23285e;
$secondary: #e6e86c;
$secondary-dark: #9a9b47;
$tertiary: #d2252a;
$tertiary-dark: #90191d;
$black: #231f20;
$white: #fff;
$blue: #83abc1;
$dark-blue: #23285e;

$color__background-body: white;;
$color__background-screen: white;
$color__background-hr: #ccc;
$color__background-button: $secondary-dark;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $secondary;
$color__link-visited: $secondary-dark;
$color__link-hover: $primary-dark;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
